/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;600;700;900&display=swap');

/*basic style*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Source Sans 3, sans-serif ;
}